@import url(./__image/lead__image.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__title/lead__title.css);

.lead {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
