.footer__title {
  margin: 92px 0 24px;
  padding: 0;
  width: 165px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 114%;
  text-align: center;
  color: #FFFFFF;
}