.header__logo-title {
margin: 0;
padding: 0;
max-width: 100%;
font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 100%;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .header__logo-title {
    font-size: 14px;
  }  
}
