@import url(./__image/cover__image.css);
@import url(./__wrapper/cover__wrapper.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__rectangle/cover__rectangle.css);
@import url(./__buy/cover__buy.css);

.cover {
  max-width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  opacity: .8;
}

.cover:hover {
  opacity: .3;
}
