.intro__paragraph {
  margin: 0;
  padding: 0;
  max-width: 690px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 142%;
  color: #FFFFFF;
}

.intro__paragraph:nth-child(3) {
  margin: 10px 0 32px;
  text-align: right;
}

.intro__paragraph:nth-child(4) {
  font-size: 16px;
  line-height: 163%;
}