.header__logo-hor-bar {
  margin: 6px 0 24px;
  width: 32px;
  height: 2px;
  background: #2A2C2F;
  position: absolute;
}

@media screen and (max-width: 320px) {
  .header__logo-hor-bar {
    margin: 4.46px 0 17.85px;
    width: 23.8px;
    height: 1.49px;
  }
}