.cover__rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 137px;
  height: 48px;
  background: #0278FE;
  border-radius: 4px;
}

@media screen and (max-width: 320px) {
  .cover__rectangle {
    width: 137px;
    height: 48px;
  }
}