.page__wrapper {
  padding: 0;
  margin: 0 auto;
  max-width: 1184px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .page__wrapper {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .page__wrapper {
    max-width: 320px;
  }
}