.places__rectangle {
  grid-area: rectangle;
  max-width: 248px;
  height: 48px;
  background-color: #0278FE;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.places__rectangle:hover {
  background-color: #0063D2;
}

@media screen and (max-width: 768px) {
  .places__rectangle {
    max-width: 288px;
  }
}